.background{
    position: relative; 
    height: 100vh; 
    width: 100%;

    /* position: absolute; */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #000;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
}


button {
    padding: .75rem 2.5rem;
	font-weight: 600;
	background: #424242;
	z-index: 10;
	color: #fff;
	border-radius: 30px;
	border: 0;
	font-size: 14px;
	position: fixed;
	top: .9rem;
    left: 40px;
    
}

.title{
    padding: .95rem 2.5rem;
	font-weight: 600;

	z-index: 10;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    
	border-radius: 30px;
	border: 0;
	font-size: 15px;
	position: fixed;
	top: .9rem;
    left: 700px;
}

.rate{
    padding: .95rem 2.5rem;
	font-weight: 600;
	background: #424242;
	z-index: 10;
	color: #fff;
	border-radius: 30px;
	border: 0;
	font-size: 14px;
	position: fixed;
	top: .9rem;
    left: 200px;
}

